@*@model ISVLM2017.Domain.Model.EjemplarViewModel*@

@using ISVLM2017.Domain.Model
@model EjemplarViewModel

@{
    ViewBag.Title = "Venta de Ejemplares";
}
<!-- CSS files (include only one of the two files!) -->
<!-- If you are using bootstrap: -->
<link rel="stylesheet" type="text/css" href="~/Content/datatable-bootstrap.min.css" media="screen">

<!-- JS files -->
<!-- Add the following if you want to use the jQuery wrapper (you still need datatable.min.js): -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Scripts/datatable.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatable.jquery.min.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/assets/js/application.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">

    function S_ShowListaDetalle(response) {

        var i_filas = response.i_filas;
        var i_colum = response.i_colum;
        var   cons_d_venta = 1, cons_d_devolucion= 2;

        if (i_colum == 0 || i_colum == 1) { return; };
        var tbl_Ejemplares = $('#tbl_Ejemplares');

        $("#tbl_Ejemplares > tbody").html("");
        var thead = $('<thead/>');
        var tbody = $('<tbody/>');
        var th_tr = $('<tr/>');
        var th_th1 = $('<th/>');
        var th_th2 = $('<th/>');
        var th_th3 = $('<th/>');
        var th_th4 = $('<th/>');
        var th_th5 = $('<th/>');
        var th_th6 = $('<th/>');
      
        th_th1.text('Ejemplar');
        th_th2.text('C. venta');
        th_th3.text('C. Dev');
        th_th4.text('P. venta');
        th_th5.text('P. Dev');
        th_th6.text('Ceros');

        th_tr.append(th_th1).append(th_th2).append(th_th3).append(th_th4).append(th_th5).append(th_th6);
        thead.append(th_tr);


        $.each(response.listtcEjemplares, function (i, item) {

            var conf_ejemplar = $.trim(response.listtcEjemplares[i].conf_ejemplar);

                var tr = $('<tr/>');
                var td1 = $('<td/>');
                var td2 = $('<td/>');
                var td3 = $('<td/>');
                var td4 = $('<td/>');
                var td5 = $('<td/>');
                var td6 = $('<td/>');
                var td7 = $('<td/>');
                var td8 = $('<td/>');
             
                var input4 = $('<input/>');              
                var input5 = $('<input/>');
                var input8 = $('<input/>');
            
            $.each(response.listtcTablaEjemplares, function (j, jitem) {

                var conf_ejemplar_ = $.trim(response.listtcTablaEjemplares[j].conf_ejemplar);
                var conf_transaccion_ = $.trim(response.listtcTablaEjemplares[j].conf_transaccion);
                var conf_ejemplares_id_ = $.trim(response.listtcTablaEjemplares[j].conf_ejemplares_id);
                var stock_precio_ = response.listtcTablaEjemplares[j].stock_precio;
                var stock_comision_canilla_ = response.listtcTablaEjemplares[j].stock_comision_canilla;
                var nombre_ejemplar_ = $.trim(response.listtcTablaEjemplares[j].nombre_ejemplar);

                if (conf_ejemplar == conf_ejemplar_) {
                    if (conf_transaccion_ == cons_d_venta) {
                        var PVenta = 0;
                        PVenta = stock_precio_ - stock_precio_ * stock_comision_canilla_ / 100;
                        PVenta = parseFloat(PVenta).toFixed(3);
                        td1.text(conf_ejemplares_id_);
                        td6.text(PVenta);                     
                  
                    }
                    else if (conf_transaccion_ == cons_d_devolucion) {
                        var PDev = 0;
                        PDev = stock_precio_ - stock_precio_ * stock_comision_canilla_ / 100;
                        PDev = parseFloat(PDev).toFixed(3);
                        td2.text(conf_ejemplares_id_);
                        td7.text(PDev);              
                    }
                    td3.text(nombre_ejemplar_);
                 
 
                }
            });

     
            input4.addClass('form-control').attr("placeholder", "0").val( '0');
            input5.addClass('form-control').attr("placeholder", "0").val( '0');
            input8.addClass('form-control').attr("placeholder", "0").val( '0');    
         
            td4.append(input4);
        
            td5.append(input5);
            td8.append(input8);

            tr.append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).append(td7).append(td8);
            tbody.append(tr);        

        });
        tbl_Ejemplares.append(thead);
        tbl_Ejemplares.append(tbody);


    }



    function GuardarEjemplar(nuevoEjemplares, fecha_maestra) {

        var ObjectData = new Object();
        ObjectData.nuevoEjemplares = nuevoEjemplares;
        ObjectData.fecha_maestra = fecha_maestra;
        var stringify = JSON.stringify(ObjectData);


        $.ajax({
            type: "POST",
            url: "/Ejemplar/GuardarEjemplar",
            data: stringify,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                alert(response);


            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }



    /* First example */

    var g_accion = '', g_stock_id, otable = '';
    $(document).ready(function () {

        S_ShowListaDetalle( @Html.Raw(Json.Encode(Model)));
    
        $('#dtp_fecha_maestra').datetimepicker({
            format: 'DD/MM/YYYY',
            defaultDate: moment(),
            sideBySide: true
        });


        $('tr td:nth-child(1)').hide();
        $('tr td:nth-child(2)').hide();
       

        $('#formBilletes').validator().on('submit', function (e) {
            if (!(e.isDefaultPrevented())) {         
	
                var  cod_venta = 0, cod_dev = 1, cant_venta = 3,cant_dev = 4, ceros =7;
 
                var nuevoEjemplares = [];
                $('#tbl_Ejemplares tbody  tr').each(function () {                 
                    var codigo_venta = $(this).find("td").eq(cod_venta).html();
                    var codigo_dev = $(this).find("td").eq(cod_dev).html();
                    var cantidad_venta = $(this).find("td").eq(cant_venta).find("input").val();
                    var cantidad_dev = $(this).find("td").eq(cant_dev).find("input").val();
                    var ceros_venta = $(this).find("td").eq(ceros).find("input").val();

                    var nuevoEjemplar = {};
                    nuevoEjemplar.codigo_venta = codigo_venta;
                    nuevoEjemplar.codigo_dev = codigo_dev;
                    nuevoEjemplar.cantidad_venta = cantidad_venta;
                    nuevoEjemplar.cantidad_dev = cantidad_dev;
                    nuevoEjemplar.ceros_venta = ceros_venta;
                    nuevoEjemplares.push(nuevoEjemplar);
                });

                var fecha_maestra = $.trim($('#dtp_fecha_maestra').val());

                GuardarEjemplar(nuevoEjemplares, fecha_maestra);
            }
            return false;
        });
    });


</script>

<h3>Venta de Ejemplares</h3>

<div role="tabpanel">
    <form data-toggle="validator" role="form" id="formBilletes">
        <div class="form-group">
            <label for="dtp_fecha_maestra" class="control-label col-sm-3">Fecha</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="dtp_fecha_maestra">
            </div>
        </div>
        <div class="form-group">
            <label for="tbl_Ejemplares" class="control-label col-sm-3">Ejemplares</label>
            <table id="tbl_Ejemplares" class="table table-bordered"></table>
            <div id="paging-first-datatable"></div>

        </div>

            <div class="form-group">
                <button type="submit" id="btn_guadar_dinero" class="btn btn-primary">Guardar Ejemplares</button>
            </div>
</form>


</div>
