
@using ISVLM2017.Domain.Model
@model VentaViewModel
@{
    ViewBag.Title = "Sitio Principal de Ventas";
}
<h3>Sitio Principal de Ventas</h3>
<p>Bienvenido al sitio principal de Ventas Elija una opción para navegar en el menú de la parte  izquierda</p>
