
@using ISVLM2017.Domain.Model
@model LogisticaViewModel
@{
    ViewBag.Title = "Sitio Principal de Logistica";
}
<h3>Sitio Principal de Logistica</h3>
<p>Bienvenido al sitio principal de Logistica. Elija una opción para navegar en el menú de la parte  izquierda</p>