@using ISVLM2017.Domain.Model
@model StockViewModel

@{
    ViewBag.Title = "Registro  de Stock";
}
<!-- CSS files (include only one of the two files!) -->
<!-- If you are using bootstrap: -->
<link rel="stylesheet" type="text/css" href="~/Content/datatable-bootstrap.min.css" media="screen">

<!-- JS files -->
<!-- Add the following if you want to use the jQuery wrapper (you still need datatable.min.js): -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Scripts/datatable.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatable.jquery.min.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/assets/js/application.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">

    function S_ShowListaDetalle(response) {
       

        var tbl_Stock=$('#tbl_Stock');

        $("#tbl_Stock > tbody").html("");
        var thead = $('<thead/>');
        var tbody = $('<tbody/>');
        var th_tr = $('<tr/>');
        var th_th1 = $('<th/>');
        var th_th2 = $('<th/>');
        var th_th3 = $('<th/>');

        th_th1.text('Código');
        th_th2.text('Nombre');
        th_th3.text('Precio');

        th_tr.append(th_th1).append(th_th2).append(th_th3);
        thead.append(th_tr);


        $.each(response, function (i, item) {

            var stock_id = $.trim(response[i].stock_id);
            var stock_nombre = $.trim(response[i].stock_nombre);
            var stock_precio = $.trim(response[i].stock_precio);
            var stock_comision_canilla = $.trim(response[i].stock_comision_canilla);
            var stock_comision_distribuidor = $.trim(response[i].stock_comision_distribuidor);
            var stock_tipomercaderia = $.trim(response[i].stock_tipomercaderia);
            var stock_fechaventa = $.trim(response[i].stock_fechaventa);
            var proveedor_id = $.trim(response[i].proveedor_id);
            var stock_marca = $.trim(response[i].stock_marca);

           
    
            var date = new Date(parseInt(stock_fechaventa.replace('/Date(', '')));
            yr = date.getFullYear();
            month= date.getMonth()+1;
            month = month < 10 ? '0' + month : month;
            day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
          
            newDate = day + '/' + month + '/' + yr;



            stock_id = parseInt(stock_id);

            var tr=$('<tr/>');
            var td1=$('<td/>');
            var td2=$('<td/>');
            var td3=$('<td/>');
            var td4=$('<td/>');
            var td5=$('<td/>');
            var td6=$('<td/>');
            var td7=$('<td/>');
            var td8 = $('<td/>');
            var td9 = $('<td/>');
            var td10 = $('<td/>');
            var td11 = $('<td/>');

            var span9 = $('<span/>');
            var button9 = $('<button/>');
            var span10 = $('<span/>');
            var button10 = $('<button/>');


            td1.text(stock_id);
            td2.text(stock_nombre);
            td3.text(stock_precio);
            td4.text(stock_comision_canilla);
            td5.text(stock_comision_distribuidor).hide();
            td6.text(stock_tipomercaderia).hide();
            td7.text(newDate).hide();
            td8.text(proveedor_id).hide();
            td9.text(stock_marca).hide();

            span9.addClass('table-edit');
            button9.addClass('btn btn-success btn-rounded btn-sm my-0').attr("data-toggle", "modal").attr("data-target", "#myModal").text('Edit');

            span10.addClass('table-remove');
            button10.addClass('btn btn-danger btn-rounded btn-sm my-0').text('Remove');




            span9.append(button9);
            td10.append(span9);

            span10.append(button10);
            td11.append(span10);

            tr.append(td1).append(td2).append(td3).append(td4).append(td5).append(td6).append(td7).append(td8).append(td9).append(td10).append(td11);
            tbody. append(tr);


        });
        tbl_Stock.append(thead);
        tbl_Stock.append(tbody);


    }

    function S_LLenarMarcasListaProveedor(response) {


        var cb_proveedor = $('#cb_proveedor');
        cb_proveedor.html("");

        cb_proveedor.append(new Option("Seleccione", ""));
        $.each(response, function (i, item) {
            var proveedor_id = $.trim(response[i].proveedor_id);
            var proveedor_descripcion = $.trim(response[i].proveedor_descripcion);
            cb_proveedor.append(new Option(proveedor_descripcion, proveedor_id));
        });


    }

    function S_LLenarTipoMarca(response) {


        var cb_tipomarca = $('#cb_tipomarca');
        cb_tipomarca.html("");

        cb_tipomarca.append(new Option("Seleccione", ""));
        $.each(response, function (i, item) {
            var codigodetalle_id = $.trim(response[i].codigodetalle_id);
            var codigodetalle_descrip = $.trim(response[i].codigodetalle_descrip);
            cb_tipomarca.append(new Option(codigodetalle_descrip, codigodetalle_id));
        });


    }

    function S_LLenarTipoMercaderia(response) {


        var cb_tipomercaderia = $('#cb_tipomercaderia');
        cb_tipomercaderia.html("");

        cb_tipomercaderia.append(new Option("Seleccione", ""));
        $.each(response, function (i, item) {
            var codigodetalle_id = $.trim(response[i].codigodetalle_id);
            var codigodetalle_descrip = $.trim(response[i].codigodetalle_descrip);
            cb_tipomercaderia.append(new Option(codigodetalle_descrip, codigodetalle_id));
        });


    }



    function GuardarStock(nuevoStock, g_accion_) {

        var ObjectData = new Object();
        ObjectData.nuevoStock = nuevoStock;
        ObjectData.accion = g_accion_;
        var stringify = JSON.stringify(ObjectData);


        $.ajax({
            type: "POST",
            url: "/Stock/GuardarStock",
            data: stringify,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (otable != null) otable.destroy();
                $('#tbl_Stock').empty();
                  otable = '';

                S_ShowListaDetalle(response);


                //$('#first-datatable-output').html($('#first-datatable-without').html());


                otable = new DataTable(document.querySelector('#first-datatable-output table'), {
                    //  otable = $('#tbl_Stock').datatable({
                    "destroy": true,
                    pageSize: 5,
                    pagingDivSelector: '#paging-first-datatable',
                    sort: [true, true, true],
                    filters: [true, true, true],
                    //  filters: [true, false, 'select'],
                    filterText: 'Type to filter... ',
                    onChange: function (o, n) {
                        $('tr td:nth-child(4)').hide();
                        $('tr td:nth-child(5)').hide();
                        $('tr td:nth-child(6)').hide();
                        $('tr td:nth-child(7)').hide();
                        $('tr td:nth-child(8)').hide();
                        $('tr td:nth-child(9)').hide();
                    }

                });

                $('tr td:nth-child(4)').hide();
                $('tr td:nth-child(5)').hide();
                $('tr td:nth-child(6)').hide();
                $('tr td:nth-child(7)').hide();
                $('tr td:nth-child(8)').hide();
                $('tr td:nth-child(9)').hide();

                $('#myTab a[href="#first-datatable-output"]').tab('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }



    /* First example */

    var g_accion = '', g_stock_id, otable='';
    $(document).ready(function () {

      
        S_LLenarMarcasListaProveedor( @Html.Raw(Json.Encode(Model.ListaProveedor)));
        S_LLenarTipoMarca( @Html.Raw(Json.Encode(Model.TipoMarca)));
        S_LLenarTipoMercaderia( @Html.Raw(Json.Encode(Model.TipoMercaderia)));
        S_ShowListaDetalle( @Html.Raw(Json.Encode(Model.ListaStock)));
        $('#dtp_fechadistribucion').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $('#first-datatable-output').html($('#first-datatable-without').html());


         otable = new DataTable(document.querySelector('#first-datatable-output table'), {
      //  otable = $('#tbl_Stock').datatable({
            "destroy": true,
            pageSize: 5,
            pagingDivSelector: '#paging-first-datatable',
            sort: [true, true, true],
            filters: [true, true, true],
            //  filters: [true, false, 'select'],
            filterText: 'Type to filter... ',
            onChange: function (o, n) {
                $('tr td:nth-child(4)').hide();
                $('tr td:nth-child(5)').hide();
                $('tr td:nth-child(6)').hide();
                $('tr td:nth-child(7)').hide();
                $('tr td:nth-child(8)').hide();
                $('tr td:nth-child(9)').hide();
            }

        });



        $('tr td:nth-child(4)').hide();
        $('tr td:nth-child(5)').hide();
        $('tr td:nth-child(6)').hide();
        $('tr td:nth-child(7)').hide();
        $('tr td:nth-child(8)').hide();
        $('tr td:nth-child(9)').hide();




        $('#formBilletes').validator().on('submit', function (e) {
            if (!(e.isDefaultPrevented())) {
                //  var stock_id = g_stock_id
                var stock_id = $.trim($('#txt_codigo').val());
                var stock_nombre = $.trim($('#txt_nombre').val());
                var stock_precio = $.trim($('#txt_precio').val());
                var stock_comision_canilla = $.trim($('#txt_comVendedor').val());
                var stock_comision_distribuidor = $.trim($('#txt_comDistrinuidor').val());
                var stock_tipomercaderia = $.trim($('#cb_tipomercaderia').val());
                var stock_fechaventa = $.trim($('#dtp_fechadistribucion').val());
                var proveedor_id = $.trim($('#cb_proveedor').val());
                var stock_marca = $.trim($('#cb_tipomarca').val());
            
                var g_accion_ = g_accion;
                if (stock_nombre == null) stock_nombre = '';

                var nuevoStock = {};
                nuevoStock.stock_id = stock_id;
                nuevoStock.stock_nombre = stock_nombre;
                nuevoStock.stock_precio = stock_precio;
                nuevoStock.stock_comision_canilla = stock_comision_canilla;
                nuevoStock.stock_comision_distribuidor = stock_comision_distribuidor;
                nuevoStock.stock_tipomercaderia = stock_tipomercaderia;
                nuevoStock.stock_fechaventa = stock_fechaventa;
                nuevoStock.proveedor_id = proveedor_id;
                nuevoStock.stock_marca = stock_marca;

                GuardarStock(nuevoStock, g_accion_);
            }
            return false;
        });


        //  $('#tbl_Stock tbody').on('click', 'td.table-edit', function (e) {
        $('body').on('click', '.table-edit', function (e) {
            e.preventDefault();




            var link = $('#myTab .active').next().children('a').attr('href');
            $('#myTab a[href="' + link + '"]').tab('show');
            $('#myTab a[href="' + link + '"]').html('Modificar');



            $('#myTab a[href="#first-datatable-javascript"]').tab('show');
            $('#myTab a[href="#first-datatable-javascript"]').html('Modificar');

            var stock_id = $.trim($(this).parents("tr").find("td:eq(0)").html());
            var stock_nombre = $.trim($(this).parents("tr").find("td:eq(1)").html());
            var stock_precio = $.trim($(this).parents("tr").find("td:eq(2)").html());
            var stock_comision_canilla = $.trim($(this).parents("tr").find("td:eq(3)").html());
            var stock_comision_distribuidor = $.trim($(this).parents("tr").find("td:eq(4)").html());
            var stock_tipomercaderia = $.trim($(this).parents("tr").find("td:eq(5)").html());
            var stock_fechaventa = $.trim($(this).parents("tr").find("td:eq(6)").html());
            var proveedor_id = $.trim($(this).parents("tr").find("td:eq(7)").html());
            var stock_marca = $.trim($(this).parents("tr").find("td:eq(8)").html());

            g_stock_id = stock_id;
            $('#txt_codigo').val(stock_id);
            $('#txt_nombre').val(stock_nombre);
            $('#txt_precio').val(stock_precio);
            $('#txt_comVendedor').val(stock_comision_canilla);
            $('#txt_comDistrinuidor').val(stock_comision_distribuidor);
            $('#cb_tipomercaderia').val(stock_tipomercaderia);
            $('#dtp_fechadistribucion').val(stock_fechaventa);
            $('#cb_proveedor').val(proveedor_id);
            $('#cb_tipomarca').val(stock_marca);

            g_accion = "Modificar";

            return false;
        });

        $('body').on('click', '.table-remove', function (e) {
      //  $('.table-remove').on('click', function (e) {
            e.preventDefault();
            g_accion = "Eliminar";
            var stock_id = $.trim($(this).parents("tr").find("td:eq(0)").html());
            g_stock_id = stock_id;

            var g_accion_ = g_accion;

            var nuevoStock = {};
            nuevoStock.stock_id = stock_id;

            GuardarStock(nuevoStock, g_accion_);
            return false;
        });


        $('#myTab a[href="#first-datatable-output"]').on('click', function (e) {
            e.preventDefault();
            $('#myTab a[href="#first-datatable-javascript"]').html('Nuevo');
            g_accion = "Agregar";
            g_stock_id = 0;

        });
        $('#myTab a[href="#first-datatable-javascript"]').on('click', function (e) {
            e.preventDefault();
            g_accion = "Agregar";
            g_stock_id=0

        });


    });


</script>


<h3>Registro  de Stock</h3>

<div role="tabpanel">
    <!-- Nav tabs -->
    <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#first-datatable-output" aria-controls="first-datatable-output" role="tab" data-toggle="tab">Datos</a></li>
        <li role="presentation"><a href="#first-datatable-javascript" aria-controls="first-datatable-javascript" role="tab" data-toggle="tab">Nuevo</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="first-datatable-output">

        </div>
        <div role="tabpanel" class="tab-pane" id="first-datatable-without">
            <table id="tbl_Stock" class="table table-bordered"></table>
            <div id="paging-first-datatable"></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="first-datatable-javascript">
            <form data-toggle="validator" role="form" id="formBilletes">
                <div class="form-group">
                    <label for="txt_codigo" class="control-label">Código</label>
                    <input type="number" pattern="\d*" class="form-control" id="txt_codigo" placeholder="Código" data-error="Ingrese valor entero">
                </div>
                <div class="form-group">
                    <label for="txt_nombre" class="control-label">Nombre</label>
                    <input type="text" class="form-control" id="txt_nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="txt_precio" class="control-label">Precio</label>
                    <input type="number" class="form-control" id="txt_precio" placeholder="Precio">
                </div>
                <div class="form-group">
                    <label for="txt_comVendedor" class="control-label">Comisión vendedor</label>
                    <input type="number" class="form-control" id="txt_comVendedor" placeholder="Comisión vendedor">
                </div>
                <div class="form-group">
                    <label for="txt_comDistrinuidor" class="control-label">Comisión distribuidor</label>
                    <input type="number" step="0.01"  class="form-control" id="txt_comDistrinuidor" placeholder="Comisión distribuidor">
                </div>
                <div class="form-group">
                    <label for="cb_tipomercaderia" class="control-label">Tipo de mercadería</label>
                    <select class="form-control" id="cb_tipomercaderia" >  </select> 
                </div>
                <div class="form-group">
                    <label for="dtp_fechadistribucion" class="control-label">Fecha de distribución</label>                
                    <input type="text" class="form-control" id="dtp_fechadistribucion" placeholder="Fecha de distribución">
                </div>
                <div class="form-group">
                    <label for="cb_proveedor" class="control-label">Proveedor</label>
                    <select class="form-control" id="cb_proveedor" > </select>                      
                </div>
                <div class="form-group">
                    <label for="cb_tipomarca" class="control-label">Marca</label>
                    <select class="form-control" id="cb_tipomarca" > </select>  
                </div>

                <div class="form-group">
                    <button type="submit" id="btn_guadar_stock" class="btn btn-primary">Guardar Stock</button>
                </div>
            </form>


        </div>

    </div>
</div>
