
@using ISVLM2017.Domain.Model
@model PrincipalViewModel

@{
    ViewBag.Title = "Sitio Principal";
}
<p>Bienvenido al sitio principal de ISVLM2017 Elija una opción para navegar en el menú de la parte  izquierda</p>