@*@model ISVLM2017.Domain.Model.ProductoViewModel*@

@using ISVLM2017.Domain.Model
@model ProductoViewModel

@{
    ViewBag.Title = "Productos";
}
<!-- CSS files (include only one of the two files!) -->
<!-- If you are using bootstrap: -->
<link rel="stylesheet" type="text/css" href="~/Content/datatable-bootstrap.min.css" media="screen">

<!-- JS files -->
<!-- Add the following if you want to use the jQuery wrapper (you still need datatable.min.js): -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Scripts/datatable.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatable.jquery.min.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/assets/js/application.js"></script>
<script type="text/javascript">

    function S_ShowListaDetalle(response) {

       
        var tbl_Productos = $('#tbl_Productos');

        $("#tbl_Productos > tbody").html("");
        var thead = $('<thead/>');
        var tbody = $('<tbody/>');
        var th_tr = $('<tr/>');
        var th_th1 = $('<th/>');
        var th_th2 = $('<th/>');
        var th_th3 = $('<th/>');
        var th_th4 = $('<th/>');


        th_th1.text('Producto');
        th_th2.text('C. venta');
        th_th3.text('C. Dev');
        th_th4.text('P. venta');
     



        th_tr.append(th_th1).append(th_th2).append(th_th3).append(th_th4);
        thead.append(th_tr);


        $.each(response.listtcProd, function (i, item) {

            var stock_id = $.trim(response.listtcProd[i].stock_id);
            var stock_nombre = $.trim(response.listtcProd[i].stock_nombre);
            var stock_precio = response.listtcProd[i].stock_precio;
            var stock_comision_canilla = response.listtcProd[i].stock_comision_canilla;

            var PVenta = 0;
            PVenta = stock_precio - stock_precio * stock_comision_canilla / 100;

            var tr = $('<tr/>');
            var td1 = $('<td/>');
            var td2 = $('<td/>');
            var td3 = $('<td/>');
            var td4 = $('<td/>');
            var td5 = $('<td/>');

            var input3 = $('<input/>');
            var input4 = $('<input/>');

            td1.text(stock_id);
            td2.text(stock_nombre);
            //td3.text("0");
            //td4.text("0");
            td5.text(PVenta);

            input3.addClass('form-control').attr("placeholder", "0").val('0');
            input4.addClass('form-control').attr("placeholder", "0").val('0');

            td3.append(input3);

            td4.append(input4);
          

            tr.append(td1).append(td2).append(td3).append(td4).append(td5);
            tbody.append(tr);

        });
        tbl_Productos.append(thead);
        tbl_Productos.append(tbody);


    }



    function GuardarStock(nuevoBilletes, g_accion_) {

        var ObjectData = new Object();
        ObjectData.nuevoBilletes = nuevoBilletes;
        ObjectData.accion = g_accion_;
        var stringify = JSON.stringify(ObjectData);


        $.ajax({
            type: "POST",
            url: "/CajaDetalle/GuardarStock",
            data: stringify,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (otable != null) otable.destroy();
                $('#tbl_Productos').empty();
                otable = '';

                S_ShowListaDetalle(response);


            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }



    /* First example */

    var g_accion = '', g_stock_id, otable = '';
    $(document).ready(function () {

        S_ShowListaDetalle( @Html.Raw(Json.Encode(Model)));



        $('tr td:nth-child(1)').hide();
      




        $('#formBilletes').validator().on('submit', function (e) {
            if (!(e.isDefaultPrevented())) {
                //  var stock_id = g_stock_id
                var stock_id = $.trim($('#txt_codigo').val());
                var stock_nombre = $.trim($('#txt_nombre').val());
                var stock_precio = $.trim($('#txt_precio').val());
                var stock_comision_canilla = $.trim($('#txt_comVendedor').val());
                var stock_comision_distribuidor = $.trim($('#txt_comDistrinuidor').val());
                var stock_tipomercaderia = $.trim($('#cb_tipomercaderia').val());
                var stock_fechaventa = $.trim($('#dtp_fechadistribucion').val());
                var proveedor_id = $.trim($('#cb_proveedor').val());
                var stock_marca = $.trim($('#cb_tipomarca').val());

                var g_accion_ = g_accion;
                if (stock_nombre == null) stock_nombre = '';

                var nuevoStock = {};
                nuevoStock.stock_id = stock_id;
                nuevoStock.stock_nombre = stock_nombre;
                nuevoStock.stock_precio = stock_precio;
                nuevoStock.stock_comision_canilla = stock_comision_canilla;
                nuevoStock.stock_comision_distribuidor = stock_comision_distribuidor;
                nuevoStock.stock_tipomercaderia = stock_tipomercaderia;
                nuevoStock.stock_fechaventa = stock_fechaventa;
                nuevoStock.proveedor_id = proveedor_id;
                nuevoStock.stock_marca = stock_marca;

                GuardarStock(nuevoStock, g_accion_);
            }
            return false;
        });


        //  $('#tbl_Productos tbody').on('click', 'td.table-edit', function (e) {
        $('body').on('click', '.table-edit', function (e) {
            e.preventDefault();




            var link = $('#myTab .active').next().children('a').attr('href');
            $('#myTab a[href="' + link + '"]').tab('show');
            $('#myTab a[href="' + link + '"]').html('Modificar');



            $('#myTab a[href="#first-datatable-javascript"]').tab('show');
            $('#myTab a[href="#first-datatable-javascript"]').html('Modificar');

            var stock_id = $.trim($(this).parents("tr").find("td:eq(0)").html());
            var stock_nombre = $.trim($(this).parents("tr").find("td:eq(1)").html());
            var stock_precio = $.trim($(this).parents("tr").find("td:eq(2)").html());
            var stock_comision_canilla = $.trim($(this).parents("tr").find("td:eq(3)").html());
            var stock_comision_distribuidor = $.trim($(this).parents("tr").find("td:eq(4)").html());
            var stock_tipomercaderia = $.trim($(this).parents("tr").find("td:eq(5)").html());
            var stock_fechaventa = $.trim($(this).parents("tr").find("td:eq(6)").html());
            var proveedor_id = $.trim($(this).parents("tr").find("td:eq(7)").html());
            var stock_marca = $.trim($(this).parents("tr").find("td:eq(8)").html());

            g_stock_id = stock_id;
            $('#txt_codigo').val(stock_id);
            $('#txt_nombre').val(stock_nombre);
            $('#txt_precio').val(stock_precio);
            $('#txt_comVendedor').val(stock_comision_canilla);
            $('#txt_comDistrinuidor').val(stock_comision_distribuidor);
            $('#cb_tipomercaderia').val(stock_tipomercaderia);
            $('#dtp_fechadistribucion').val(stock_fechaventa);
            $('#cb_proveedor').val(proveedor_id);
            $('#cb_tipomarca').val(stock_marca);

            g_accion = "Modificar";

            return false;
        });

        $('body').on('click', '.table-remove', function (e) {
            //  $('.table-remove').on('click', function (e) {
            e.preventDefault();
            g_accion = "Eliminar";
            var stock_id = $.trim($(this).parents("tr").find("td:eq(0)").html());
            g_stock_id = stock_id;

            var g_accion_ = g_accion;

            var nuevoStock = {};
            nuevoStock.stock_id = stock_id;

            GuardarStock(nuevoStock, g_accion_);
            return false;
        });


        $('#myTab a[href="#first-datatable-output"]').on('click', function (e) {
            e.preventDefault();
            $('#myTab a[href="#first-datatable-javascript"]').html('Nuevo');
            g_accion = "Agregar";
            g_stock_id = 0;

        });
        $('#myTab a[href="#first-datatable-javascript"]').on('click', function (e) {
            e.preventDefault();
            g_accion = "Agregar";
            g_stock_id = 0

        });


    });


</script>


<div role="tabpanel">
    <table id="tbl_Productos" class="table table-bordered"></table>
    <div id="paging-first-datatable"></div>
    <form data-toggle="validator" role="form" id="formBilletes">


        <div class="form-group">
            <button type="submit" id="btn_guadar_dinero" class="btn btn-primary">Guardar Productos</button>
        </div>
    </form>


</div>