@*@model ISVLM2017.Domain.Model.ProductoViewModel*@

@using ISVLM2017.Domain.Model
@model ProductoViewModel

@{
    ViewBag.Title = "Venta de Productos";
}
<!-- CSS files (include only one of the two files!) -->
<!-- If you are using bootstrap: -->
<link rel="stylesheet" type="text/css" href="~/Content/datatable-bootstrap.min.css" media="screen">

<!-- JS files -->
<!-- Add the following if you want to use the jQuery wrapper (you still need datatable.min.js): -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/moment.min.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Scripts/datatable.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatable.jquery.min.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="https://1000hz.github.io/bootstrap-validator/assets/js/application.js"></script>
<script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">

    function S_ShowListaDetalle(response) {

       
        var tbl_Productos = $('#tbl_Productos');

        $("#tbl_Productos > tbody").html("");
        var thead = $('<thead/>');
        var tbody = $('<tbody/>');
        var th_tr = $('<tr/>');
        var th_th1 = $('<th/>');
        var th_th2 = $('<th/>');
        var th_th3 = $('<th/>');
        var th_th4 = $('<th/>');


        th_th1.text('Producto');
        th_th2.text('C. venta');
        th_th3.text('C. Dev');
        th_th4.text('P. venta');
     



        th_tr.append(th_th1).append(th_th2).append(th_th3).append(th_th4);
        thead.append(th_tr);


        $.each(response.listtcProd, function (i, item) {

            var stock_id = $.trim(response.listtcProd[i].stock_id);
            var stock_nombre = $.trim(response.listtcProd[i].stock_nombre);
            var stock_precio = response.listtcProd[i].stock_precio;
            var stock_comision_canilla = response.listtcProd[i].stock_comision_canilla;

            var PVenta = 0;
            PVenta = stock_precio - stock_precio * stock_comision_canilla / 100;

            var tr = $('<tr/>');
            var td1 = $('<td/>');
            var td2 = $('<td/>');
            var td3 = $('<td/>');
            var td4 = $('<td/>');
            var td5 = $('<td/>');

            var input3 = $('<input/>');
            var input4 = $('<input/>');

            td1.text(stock_id);
            td2.text(stock_nombre);
            //td3.text("0");
            //td4.text("0");
            td5.text(PVenta);

            input3.addClass('form-control').attr("placeholder", "0").val('0');
            input4.addClass('form-control').attr("placeholder", "0").val('0');

            td3.append(input3);

            td4.append(input4);
          

            tr.append(td1).append(td2).append(td3).append(td4).append(td5);
            tbody.append(tr);

        });
        tbl_Productos.append(thead);
        tbl_Productos.append(tbody);


    }


    function GuardarProducto(nuevoProductos, fecha_maestra) {

        var ObjectData = new Object();
        ObjectData.nuevoProductos = nuevoProductos;
        ObjectData.fecha_maestra = fecha_maestra;
        var stringify = JSON.stringify(ObjectData);


        $.ajax({
            type: "POST",
            url: "/Producto/GuardarProducto",
            data: stringify,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                alert(response);


            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


    /* First example */

    var g_accion = '', g_stock_id, otable = '';
    $(document).ready(function () {

        S_ShowListaDetalle( @Html.Raw(Json.Encode(Model)));
        $('tr td:nth-child(1)').hide();    

        $('#dtp_fecha_maestra').datetimepicker({
            format: 'DD/MM/YYYY',
            defaultDate: moment(),
            sideBySide: true
        });


        $('#formBilletes').validator().on('submit', function (e) {
            if (!(e.isDefaultPrevented())) {
                //  var stock_id = g_stock_id
                var cod_prod = 0, cant_venta = 2, cant_dev = 3;

                var nuevoProductos = [];
                $('#tbl_Productos tbody  tr').each(function () {
                    var codigo_prod = $(this).find("td").eq(cod_prod).html();
                    var cantidad_venta = $(this).find("td").eq(cant_venta).find("input").val();
                    var cantidad_dev = $(this).find("td").eq(cant_dev).find("input").val();
                 
                    var nuevoProducto = {};
                    nuevoProducto.codigo_prod = codigo_prod;
                    nuevoProducto.cantidad_venta = cantidad_venta;
                    nuevoProducto.cantidad_dev = cantidad_dev;
                    nuevoProductos.push(nuevoProducto);
                });

                var fecha_maestra = $.trim($('#dtp_fecha_maestra').val());

                GuardarProducto(nuevoProductos, fecha_maestra);
            }
            return false;
        });

    });


</script>
<h3>Venta de Productos</h3>

<div role="tabpanel">
    <form data-toggle="validator" role="form" id="formBilletes">
        <div class="form-group">
            <label for="dtp_fecha_maestra" class="control-label col-sm-3">Fecha</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="dtp_fecha_maestra">
            </div>
        </div>
        <div class="form-group">
            <label for="tbl_Productos" class="control-label col-sm-3">Productos</label>
            <table id="tbl_Productos" class="table table-bordered"></table>
            <div id="paging-first-datatable"></div>

        </div>  

        <div class="form-group">
            <button type="submit" id="btn_guadar_dinero" class="btn btn-primary">Guardar Productos</button>
        </div>
    </form>


</div>